body{
    margin: 0;
    padding: 10px;
   min-width: 400px;
   
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #798ab9;
}
#delete-btn{
    background: #fff;
    color: #798ab9;
    border: 1px solid #798ab9;
}



button{
    margin-top: 1rem;
    padding: 15px 30px ;
    background: #798ab9;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color:  #798ab9;;
}